In [1]:
import numpy as np
import pandas as pd

Load the catalog of non-synonymous fixed modern-human-specific autosomal differences

In [9]:
catalog = (pd
           .read_table('/mnt/expressions/mp/Projects/catalogs/final_version/HumDer_SNCs/fixed/fixed_HumDer_SNCs_merged_genic_ccds_nonsyn.tsv')
           .rename(columns={'Chrom'       : 'chrom',
                            'Pos'         : 'pos',
                            'Consequence' : 'consequence',
                            'Ancestor'    : 'ancestral',
                            'States'      : 'archaics'})
           .query('chrom != "X"')
          )[['chrom', 'pos', 'consequence', 'ancestral', 'archaics']]

Split the column with archaics states (like 'A/A,A/H,A/A,A/A' in the order Vindija, Sidron, Altai, Denisovan) into individual columns and drop the original column:

In [10]:
catalog = catalog.join(
    catalog['archaics']
    .apply(lambda x: pd.Series(x.split(',')))
    .rename(columns={0:'Vindija', 1:'ElSidron', 2:'Altai', 3:'Denisovan'})) \
    .drop(labels=['archaics', 'ElSidron'], axis=1)

In [11]:
catalog.head()

,chrom,pos,consequence,ancestral,Vindija,Altai,Denisovan
5,1,79095493,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A
6,1,79106805,"NON_SYNONYMOUS_CODING,SPLICE_SITE",A,A/A,A/A,A/A
7,1,118558632,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A
8,1,118634297,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A
9,1,153751869,NON_SYNONYMOUS_CODING,T,./.,A/A,A/A

In [13]:
catalog = catalog.join(
    catalog[['Vindija', 'Altai', 'Denisovan']].replace(to_replace=['A/A', 'A/H', 'H/H', './.'],
                                                       value=[0.0, 0.5, 1.0, np.nan]),
    lsuffix="_GT")

In [14]:
catalog

,chrom,pos,consequence,ancestral,Vindija_GT,Altai_GT,Denisovan_GT,Vindija,Altai,Denisovan
5,1,79095493,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
6,1,79106805,"NON_SYNONYMOUS_CODING,SPLICE_SITE",A,A/A,A/A,A/A,0.0,0.0,0.0
7,1,118558632,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
8,1,118634297,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
9,1,153751869,NON_SYNONYMOUS_CODING,T,./.,A/A,A/A,NaN,0.0,0.0
10,1,158648210,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
11,1,204966474,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
12,1,245582905,NON_SYNONYMOUS_CODING,G,./.,A/A,A/A,NaN,0.0,0.0
13,2,40657356,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
14,2,73438011,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
15,3,47469149,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
16,3,98073220,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
17,3,98073475,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
18,4,2949274,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
19,4,5642249,NON_SYNONYMOUS_CODING,T,A/A,A/A,A/A,0.0,0.0,0.0
20,4,13597538,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
21,4,89408223,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
22,4,89410317,"NON_SYNONYMOUS_CODING,SPLICE_SITE",G,A/A,A/A,A/A,0.0,0.0,0.0
23,5,54585213,NON_SYNONYMOUS_CODING,T,A/A,A/A,A/A,0.0,0.0,0.0
24,5,66414520,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
25,5,71638807,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
26,5,75591644,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
27,5,82837946,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
28,5,86564477,NON_SYNONYMOUS_CODING,G,./.,A/A,A/A,NaN,0.0,0.0
29,5,149431516,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
30,6,79577384,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
31,6,100368868,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
32,6,109802500,NON_SYNONYMOUS_CODING,G,./.,A/A,A/A,NaN,0.0,0.0
33,6,149918766,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
34,7,91793211,NON_SYNONYMOUS_CODING,T,./.,A/A,A/A,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
74,14,76249759,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
75,14,105517492,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
76,15,40912860,NON_SYNONYMOUS_CODING,A,./.,A/A,A/A,NaN,0.0,0.0
77,15,40915640,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
78,15,42985549,NON_SYNONYMOUS_CODING,G,./.,A/A,A/A,NaN,0.0,0.0
79,15,48499987,NON_SYNONYMOUS_CODING,A,./.,A/A,A/A,NaN,0.0,0.0
80,15,81173308,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
81,16,66947064,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
82,16,88804443,NON_SYNONYMOUS_CODING,T,./.,A/A,A/A,NaN,0.0,0.0
83,17,7721315,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
84,17,26919034,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
85,17,26919777,NON_SYNONYMOUS_CODING,T,A/A,A/A,A/A,0.0,0.0,0.0
86,17,26925578,NON_SYNONYMOUS_CODING,G,./.,A/A,A/A,NaN,0.0,0.0
87,17,27959034,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
88,17,27959258,NON_SYNONYMOUS_CODING,T,A/A,A/A,A/A,0.0,0.0,0.0
89,17,41931199,NON_SYNONYMOUS_CODING,T,A/A,A/A,A/A,0.0,0.0,0.0
90,17,62290457,NON_SYNONYMOUS_CODING,T,./.,A/A,A/A,NaN,0.0,0.0
91,17,73753035,NON_SYNONYMOUS_CODING,A,./.,A/A,A/A,NaN,0.0,0.0
92,17,73753305,NON_SYNONYMOUS_CODING,A,./.,A/A,A/A,NaN,0.0,0.0
93,17,80006980,NON_SYNONYMOUS_CODING,A,A/A,A/A,A/A,0.0,0.0,0.0
94,18,19085379,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
95,19,2434033,NON_SYNONYMOUS_CODING,T,./.,A/A,A/A,NaN,0.0,0.0
96,19,3547315,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
97,20,33337529,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0
98,20,44002597,NON_SYNONYMOUS_CODING,T,A/A,A/A,A/A,0.0,0.0,0.0
99,20,44003932,NON_SYNONYMOUS_CODING,G,./.,A/A,A/A,NaN,0.0,0.0
100,21,34166190,NON_SYNONYMOUS_CODING,T,A/A,A/A,A/A,0.0,0.0,0.0
101,21,43897491,NON_SYNONYMOUS_CODING,T,A/A,A/A,A/A,0.0,0.0,0.0
102,22,40161572,NON_SYNONYMOUS_CODING,G,A/A,A/A,A/A,0.0,0.0,0.0
103,22,40760978,NON_SYNONYMOUS_CODING,C,A/A,A/A,A/A,0.0,0.0,0.0